body {
    background: url(../img/mohammad-alizade-S5uV7ro4UPY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Mulish', sans-serif;
}

.img {
    margin-left: 22%;
}

form {
    margin-left: 30%;
    margin-top: 10%;
}

.input-postal {
    width: 60%;
}

.input-submit {
    width: 60%;
}

.tiempo {
    background-color: #306c77;
    width: 50%;
    height: 250px;
    margin-left: 10%;
    margin-top: 3%;
    color: white;
    float: left;
}

.img_temp {
    width: 25%;
}

.weather_temp {
    margin-left: 25%;
    font-size: 43px;
    margin-top: -19%;
}

.top5 {
    background-color: #306c77;
    color: white;
    width: 30%;
    float: left;
    margin-left: 30px;
    margin-top: 40px;
}

.top5-temp {
    float: left;
    font-size: 40px;
    margin-right: 30px;
}

hr {
    border-color: white;
}